<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>掲示板アプリ</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/count.css">
</head>
<body>
  <header>
    <h1 class="text-center text-muted mg-10 text-dark">掲示板アプリ</h1>
  </header>

<div class="container">
  <form action="/new" method="post" enctype="multipart/form-data">
    <p>名前 : <input type="text" name="user_name" class="NAME"></p>
    <textarea name="body" cols="43" rows="5" class=""></textarea>
  <div class="flex1">
    <p><input type="file" name="file" class="btn"></p>
    <input type="submit" value="投稿" class="btn bg-info contribution">
    </div>
  </form>
<hr>
  <ul>
  <% @contents.each do |content| %>
  <div class="sentence">
      <p class="ContName">名前 : <%= content.name %></p>
      <p class="ContText">本文<br><%= content.body %></p>
      <% unless content.img.empty? %>
      <p class="image">
        <img src="<%= content.img %>" alt="投稿写真">
      </p>
      <% end %>
      <div class="flex2">
      <span>
        <form action="/good/<%= content.id %>" method="post">
          <input type="submit" value="<%= content.good %>" class="btn bg-danger">

        </form>
      </span>
      <span>
        <form action="/edit/<%= content.id %>" method="post">
          <input type="submit" value="編集" class="btn bg-warning">
        </form>
      </span>
      <span>
        <form action="/delete/<%= content.id %>" method="post">
          <input type="submit" value="削除" class="btn bg-warning">
        </form>
      </span>

      </div>
    </div>
 <% end %>
  </ul>
   </div>

   <footer>
      <p>@lassieena 2019/04</p>
   </footer>
</body>
</html>
